<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas Caseiras</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="icon" href="./assets/ana-maria.jpg" type="image-x/jpg">
</head>

<body>
    <header class="cabecalho">
        <nav class="cabecalho_menu">
            <a href="index.html" class="cabecalho_menu_link">Inicío</a>
            <a href="mousse.html" class="cabecalho_menu_link">Mousses</a>
            <a href="chocolates.html" class="cabecalho_menu_link">Brigadeiro</a>
            <a href="bolo.html" class="cabecalho_menu_link">Bolos</a>

        </nav>
    </header>

    <main>
        <section>
            <h1>Anaaaaaaa</h1>
        </section>
    </main>

    <footer class="rodape">Desenvolvido por Luiz Phelipe</footer>

</body>

</html>