<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas Caseiras</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="icon" href="./assets/ana-maria.jpg" type="image-x/jpg">
</head>

<body>
    <header class="cabecalho">
        <nav class="cabecalho_menu">
            <a href="index.html" class="cabecalho_menu_link">Inicío</a>
            <a href="mousse.html" class="cabecalho_menu_link">Mousses</a>
            <a href="chocolates.html" class="cabecalho_menu_link">Brigadeiro</a>
            <a href="bolo.html" class="cabecalho_menu_link">Bolos</a>

        </nav>
    </header>

    <main class="principal">
        <section class="principal_conteudo">
            <h1 class="principal_conteudo_titulo">
                Bem-vindo ao nosso cantinho delicioso de receitas caseiras! 🍰🍫🥄
            </h1>

            <p class="principal_conteudo_descricao">
                Aqui você encontra receitas práticas, saborosas e perfeitas para adoçar o seu dia. Explore o mundo dos <strong class="principal_conteudo_descricao_strong">bolos fofinhos</strong>, dos <strong class="principal_conteudo_descricao_strong">mousses cremosos</strong> e do irresistível <strong class="principal_conteudo_descricao_strong">brigadeiro de colher</strong>, feito para encantar qualquer momento.

                Seja você um cozinheiro experiente ou apenas alguém em busca de uma sobremesa especial, temos algo para todos os gostos. Sinta-se à vontade para explorar, experimentar e, claro, saborear!

                Prepare-se para se apaixonar pela magia da cozinha e descobrir que as melhores receitas são feitas com carinho.
                <br><br>
                Nosso objetivo é trazer a alegria da cozinha para o seu dia a dia, com receitas que transformam ingredientes simples em momentos inesquecíveis. Cada receita foi escolhida com carinho para que você possa criar sobremesas que não só encantem o paladar, mas também tragam aquele gostinho de aconchego e felicidade.
            </p>
        
        </section>
        <div class="imagens">
            <img  class="fotos" src="./assets/mousse-maracuja.jpg" alt="Foto Mousse de Maracujá">
            <img  class="fotos" src="./assets/brigadeiro-colher.jpg" alt="Foto Brigadeiro de colher">
            <img  class="fotos" src="./assets/bolo-chocolate.jpg" alt="Foto Bolo de Chocolate">
        </div>
    </main>
    
    <footer class="rodape">Desenvolvido por Luiz Phelipe</footer>

</body>

</html>