@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 15px;
    font-family: 'Open Sans';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #F0F8FF;
    overflow: hidden;
}

.cabecalho {
    background-color: #493657;
    color: #C9ADA1;
}

.cabecalho_menu {
    text-decoration: none;
    padding: 10px;
    justify-content: center;
    gap: 30px;
    display: flex;
}

.cabecalho_menu_link {
    font-size: 18px;
    font-family: 'Open Sans';
    color: #C9ADA1;
    text-decoration: none;
}

.cabecalho_menu_link:hover {
    color: #FFFFFF; 
    text-decoration: none;
}


.principal_conteudo {
    font-family: 'Open Sans';
}

.principal_conteudo_titulo{
    color: #493657;
    text-align: center;
    padding: 20px;
    font-size: 28px;
}

.principal_conteudo_descricao{
    color: #272727;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: justify;
    padding: 0 15;

}

.principal_conteudo_descricao_strong{
    color: #493657;
}

.principal_escolha {
    display: flex;
    width: 100vw;
    height: 100vh;
}


.principal_escolha_mousse_maracuja {
    flex: 1;                     
    display: flex;              
    align-items: center;         
    justify-content: center;     
    font-size: 24px;             
    color: white;                
    text-decoration: none;       
    background-size: cover;
    background-position: center; 
    transition: 0.3s;    
    background-image: url('/templates/assets/mousse-maracuja.jpg');
}

.principal_escolha_mousse_limao {
    flex: 1;                     
    display: flex;              
    align-items: center;         
    justify-content: center;     
    font-size: 24px;             
    color: white;                
    text-decoration: none;       
    background-size: cover; 
    background-position: center; 
    transition: 0.3s;
    background-image: url('/templates/assets/mousse-limao.jpg');

}

.principal_escolha_mousse_limao:hover, .principal_escolha_mousse_maracuja:hover {
    opacity: 70%;

}

.imagens {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.fotos {
    height: 150px;
    width: 230px
}

.rodape {
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 18px;
    background-color: #493657;
    color: #C9ADA1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}